body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#post h1 { font-size: 150%; margin-top: 2em; }
#post h2 { font-size: 140%; margin-top: 2em; }
#post h3 { font-size: 130%; margin-top: 2em; }
#post h4 { font-size: 120%; margin-top: 2em; }
#post h5 { font-size: 110%; margin-top: 2em; }
#post h6 { font-size: 100%; margin-top: 2em; }

#post code {
  color: inherit;
  border: none;
}

#post figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

#post figcaption {
  font-style: italic;
}
