<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">

  <title>PyNash: {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/pynash.css" type="text/css">
</head>
<body class="pynash">
<div class="container">
  <header>
    <h1><a href="/"><img src="/static/img/pynash.svg" alt="pynash wordmark"></a></h1>
  </header>
